<!DOCTYPE html>
<html>
 

    
    <head>
    <style>
      body {
        background-image: "assets/consumption.jpg";
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>

  </head>
    
  <body>

    <div class="text-center" >

        <h1>These values are in Watts so make sure to divide by 1000 before using our kW/h calculator!</h1>


        <img src="assets/consumption.jpg" alt="Girl in a jacket" width="1000" height="600">

        
        </div>

</body>